language: java
os: linux
language: android
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    # - tools
    # - platform-tools

    # The BuildTools version used by your project
    - build-tools-28.0.3

    # The SDK version used to compile your project
    - android-28
script: ./gradlew build
deploy:
  provider: releases
  api_key:
    secure: $TRAVIS_TOKEN
  file:
    - "build/outputs/apk/debug/android_debug.apk"
    - "build/outputs/apk/release/android_release.apk"
  skip_cleanup: true
  on:
    tags: true